<div class="center jumbotron">
  <h1>Välkommen till registrering-applikationen</h1>
  <h2>
    Registrera din applikation här för att få en API-nyckel
  </h2>
  <%= link_to "Registrera dig nu!", "#", class: "btn btn-lg btn-primary" %>
</div>